@page
@model ChangeLogModel
@{
    ViewData["Title"] = "Change Log";
}
<h2>@ViewData["Title"]</h2>
<br />
<h5>Rel_1.0.1.13</h5>
<ul>
    <li>Added charts to the home page along with an api call for events</li>    
</ul>
<br />
<h5>Rel_0.0.0.5</h5>
<ul>
    <li>Detailed installer counts by environment</li>
    <li>Added filter to the installers by environment</li>
</ul>
<br />
<h5>Rel_0.0.0.2</h5>
<ul>
    <li>Added counts to the installer page</li>
</ul>
<br />
<h5>Rel_0.0.0.1</h5>
<ul>
    <li>Added AutoComplete to MSI and Installer fields when creating a new event</li>
    <li>Added Installer page that will display a list of unique installers.</li>
</ul>
<p>


</p>